*{
    margin: 0;
    padding: 0;
}
.link{
    text-decoration: none;
}
html{
    overflow-x: hidden;
}
.firstcontainer{
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url(assets/images/background.png);
    margin: 0 auto;
    background-repeat:no-repeat;
    background-size: cover;
}
.header{
    width: 100%;
    height: 80px;
    background-image: url(assets/images/headerbg.svg);
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    width: 140px;
    justify-content: space-between;
    margin-left: 40px;
    align-items: center;
}
.logo__text{
    font-family: TitilliumWeb;
    font-size: 24px;
    color: white;
    width: 75px;
    line-height: 120%;
    text-align: center
}
.menu{
    margin: 0 auto;
    transform: translateX(-20%);
}
.menu__list{
    list-style: none;
    display: flex;
    width: 454px;
    justify-content: space-between;
}
.menu__link{
    text-decoration: none;
    color: white;
}
.menu__item{
    font-family: OpenSansSemiBold;
    font-size: 14px;
    transition: 0.2s;
}
.menu__item:hover{
    transform: scale(1.1);
}
.firstwrapper{
    margin: 0 auto;
    width: 1110px;
    height: 720px;
}
.rectangle{
    width: 444px;
    height: 720px;
    background-image: url(assets/images/blue-rectangle.png);
}
.banner{
    position: absolute;
    top: 282px;
    margin: 0 auto;
    margin-left: 190px;
    width: 600px;
    height: 317px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner__text{
    width: 445px;
    font-family: OpenSans;
    font-size: 16px;
    color: white;
}
.banner__title{
    font-family: Oswald;
    font-size: 48px;
    color: white;
    letter-spacing: 1%;
}
.banner__button{
    width: 160px;
    height: 51px;
    background: none;
    border: 3px solid white;
    font-family: OpenSansSemiBold;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    transition: 0.2s;
}
.banner__button:hover{
    background-color: white;
    color: #005BC1;
}
.wrapper{
    position: relative;
    width: 1920px;
    height: 820px;
    margin: 0 auto;
}
.secondwrapper{
    position: relative;
    width: 1920px;
    height: 655px;
    margin: 0 auto;
}
.slider{
    position: absolute;
    width: 1110px;
    height: 520px;
    left: 405px;
    top: 150px;
    display: flex;
    flex-direction: column;
}
.slider__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
.slider__title{
    display: flex;
}
.slider__arrows{
    display: flex;
}
.slider__writing{
    font-family: Oswald;
    font-size: 30px;
    color: #343434;
    letter-spacing: 5%;
    margin-left: 40px;
}
.slider__square{
    display: flex;
    width: 55px;
    height: 55px;
    border: 2px solid #005BC1;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
.slider__square:hover{
    transform: scale(1.1);
}
.slider__offers{
    display: flex;
    justify-content: space-between;
    height: 400px;
}
.slider__sides{
    width: 540px;
    height: 400px;
    position: relative;
}
.slider__img{
    width: 540px;
    height: 400px;
}
.slider__block{
    top: 255px;
    left: 255px;
    position: absolute;
    width: 250px;
    height: 110px;
    background-color: white;
}
.slider__textwrapper{
    margin-left: 25px;
    margin-top: 20px;
    width: 200px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slider__name{
    font-family: Oswald;
    font-size: 18px;
    color: #343434;
}
.slider__desc{
    font-family: OpenSansLight;
    font-size: 14px;
    color: #343434;
}
.catalog{
    position: absolute;
    width: 1110px;
    height: 520px;
    left: 405px;
    top: 0px;
    display: flex;
    flex-direction: column;
}
.catalog__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
.catalog__title{
    display: flex;
}
.catalog__writing{
    font-family: Oswald;
    font-size: 30px;
    color: #343434;
    letter-spacing: 5%;
    margin-left: 40px;
}
.catalog__choice{
    display: flex;
    margin: 0 auto;
    width: 211px;
    justify-content: space-between;
    font-size: 24px;
    font-family: Oswald;
    color: #343434;
    margin-bottom: 50px;
}
.catalog__leftchoice{
    color: #005BC1;
    border-bottom: #005BC1 solid 3px;
}
.catalog__offers{
    width: 1110px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.catalog__offer{
    width: 350px;
    height: 300px;
    position: relative;
}
.catalog__img{
    width: inherit;
    height: inherit;
}
.catalog__textwrapper{
    width: 265px;
    height: 86px;
    background-color: #005BC1;
    position: absolute;
    left: 85px;
    bottom: 15px;
    display: flex;
    align-items: center;
}
.catalog__text{
    margin-left: 21px;
    width: 190px;
    font-size: 18px;
    font-family: Oswald;
    color: white;
    letter-spacing: 5%;
}
.rent{
    position: absolute;
    width: 1110px;
    height: 520px;
    left: 405px;
    top: 0px;
    display: flex;
    flex-direction: column;
}
.rent__headfirst{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.rent__title{
    display: flex;
}
.rent__writing{
    font-family: Oswald;
    font-size: 30px;
    color: #343434;
    letter-spacing: 5%;
    margin-left: 40px;
}
.rent__wrapper{
    display: flex;
    width: 1110px;
    justify-content: space-between;
}
.rent__desc{
    width: 445px;
    height: 394px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.rent__offer{
    width: 665px;
    height: 394px;
    border: #005BC1 solid 3px;
}
.rent__descwriting{
    font-family: OpenSansLight;
    font-size: 18px;
    color: #343434;
}
.rent__headsecond{
    width: 605px;
    height: 55px;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 29px;
}
.rent__item{
    width: 615px;
    height: 250px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
}
.rent__img{
    width: 255px;
    height: 250px;
}
.rent__description{
    width: 330px;
    height: 206px;
}
.rent__title{
    margin-bottom: 30px;
    font-family: Oswald;
    font-size: 16px;
    color: #343434;
    letter-spacing: 1px;
}
.rent__list{
    width: 270px;
    height: 152px;
    margin-left: 15px;
}
.rent__itemlist{
    margin-bottom: 16px;
    font-family: OpenSansLight;
    font-size: 14px;
    color: #343434;
}
.rent__maintitle{
    font-family: Oswald;
    font-size: 18px;
    color: #343434;
    letter-spacing: 1px;
}
.thirdwrapper{
    position: relative;
    width: 1920px;
    height: 625px;
    margin: 0 auto;
}
.fourthwrapper{
    position: relative;
    width: 1920px;
    height: 483px;
    margin: 0 auto;
}
.news{
    position: absolute;
    width: 1110px;
    height: 520px;
    left: 405px;
    top: 0px;
    display: flex;
    flex-direction: column;
}
.news__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
.news__title{
    display: flex;
}
.news__writing{
    font-family: Oswald;
    font-size: 30px;
    color: #343434;
    letter-spacing: 5%;
    margin-left: 40px;
}
.news__headbutton{
    width: 190px;
    height: 51px;
    border: none;
    background-color: #005BC1;
    font-family: OpenSansSemiBold;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    transition: 0.2s;
}
.news__headbutton:hover{
    background-color: white;
    border: #005BC1 1px solid;
    color: #005BC1;
}
.news__wrapper{
    width: 1110px;
    height: 242px;
    display: flex;
    justify-content: space-between;
}
.news__firsttype{
    width: 540px;
    height: 242px;
    display: flex;
    justify-content: space-between;
}
.news__desc{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.news__deschead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 255px;
    height: 27px;
    margin-bottom: 42px;
}
.news__desctext{
    width: 255px;
    font-family: OpenSansLight;
    font-size: 14px;
    color: #979797;
}
.news__descfull{
    align-self: flex-start;
    margin-top: 21px;
}
.news__descheadtitle{
    font-family: Oswald;
    font-size: 18px;
    color: #343434;
    transition: 0.2s ease-in-out
}
.news__descheaddate{
    font-family: OpenSansSemiBold;
    font-size: 14px;
    color: #979797;
}
.news__descfull{
    font-family: OpenSans;
    font-size: 14px;
    color: #343434;
    text-decoration: underline;
}
.news__descheadtitlesecond{
    font-family: Oswald;
    font-size: 18px;
    color: #343434;
    width: 255px;
    letter-spacing: 1px;
}
.news__secondtype{
    width: 225px;
    height: 242px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news__desctextsecond{
    width: 230px;
    font-family: OpenSansLight;
    font-size: 14px;
    color: #979797;
}
.news__imgdate{
    width: 225px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.news__secondtypeimg{
    width: 128px;
    height: 115px;
}
.footerwrap{
    width: 100%;
    height: 255px;
    background-color: #005BC1;
}
.footer{
    width: 1110px;
    height: 194px;
    margin: 0 auto;
    margin-top: -219px;
    display: flex;
    flex-direction: column;
}
.footer__firstline{
    width: 1110px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid white;
    margin-bottom: 6px;
}
.footer__secondline{
    width: 1110px;
    height: 98px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}
.footer__secondlinefirst{
    display: flex;
    flex-direction: column;
    width: 80px;
    margin-right: 110px;
}
.footer__secondlinesecond{
    display: flex;
    flex-direction: column;
    width: 51px;
    margin-right: 110px;
}
.footer__secondlinethird{
    display: flex;
    flex-direction: column;
    width: 171px;
}
.footer__writing{
    margin-bottom: 10px;
    font-family: OpenSansLight;
    font-size: 14px;
    color: white;
}
.footer__thirdline{
    height: 69px;
    width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.footer__number{
    font-family: Oswald;
    font-size: 18px;
    color: white;
    margin-top: -5px;
}
.footer__text{
    font-family: OpenSansSemiBold;
    font-size: 14px;
    color: white;
}