*{
    margin: 0;
    padding: 0;
}
.link{
    text-decoration: none;
}
.firstcontainer{
    position: relative;
    width: 1920px;
    height: 800px;
    background-image: url(assets/images/background.png);
    margin: 0 auto;
}
.header{
    width: 1920px;
    height: 80px;
    background-image: url(assets/images/headerbg.svg);
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    width: 140px;
    justify-content: space-between;
    margin-left: 40px;
    align-items: center;
}
.logo__text{
    font-family: TitilliumWeb;
    font-size: 24px;
    color: white;
    width: 75px;
    line-height: 120%;
    text-align: center
}
.menu{
    margin-left:555px;
}
.menu__list{
    list-style: none;
    display: flex;
    width: 454px;
    justify-content: space-between;
}
.menu__link{
    text-decoration: none;
    color: white;
}
.menu__item{
    font-family: OpenSansSemiBold;
    font-size: 14px;
}
.firstwrapper{
    margin: 0 auto;
    width: 1110px;
    height: 720px;
}
.rectangle{
    width: 444px;
    height: 720px;
    background-image: url(assets/images/blue-rectangle.png);
}
.banner{
    position: absolute;
    top: 282px;
    left: 595px;
    width: 600px;
    height: 317px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner__text{
    width: 445px;
    font-family: OpenSans;
    font-size: 16px;
    color: white;
}
.banner__title{
    font-family: Oswald;
    font-size: 48px;
    color: white;
    letter-spacing: 1%;
}
.banner__button{
    width: 160px;
    height: 51px;
    background: none;
    border: 3px solid white;
    font-family: OpenSansSemiBold;
    font-size: 16px;
    color: white;
}
.wrapper{
    position: relative;
    width: 1920px;
    height: 880px;
    margin: 0 auto;
}
.slider{
    position: absolute;
    width: 1110px;
    height: 520px;
    left: 405px;
    top: 150px;
    display: flex;
    flex-direction: column;
}
.slider__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
.slider__title{
    display: flex;
}
.slider__arrows{
    display: flex;
}
.slider__writing{
    font-family: Oswald;
    font-size: 30px;
    color: #343434;
    letter-spacing: 5%;
    margin-left: 40px;
}
.slider__square{
    display: flex;
    width: 55px;
    height: 55px;
    border: 2px solid #005BC1;
    align-items: center;
    justify-content: center;
}
.slider__offers{
    display: flex;
    justify-content: space-between;
    height: 400px;
}
.slider__sides{
    width: 540px;
    height: 400px;
    position: relative;
}
.slider__img{
    width: 540px;
    height: 400px;
}
.slider__block{
    top: 255px;
    left: 255px;
    position: absolute;
    width: 250px;
    height: 110px;
    background-color: white;
}
.slider__textwrapper{
    margin-left: 25px;
    margin-top: 20px;
    width: 200px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slider__name{
    font-family: Oswald;
    font-size: 18px;
    color: #343434;
}
.slider__desc{
    font-family: OpenSansLight;
    font-size: 14px;
    color: #343434;
}
.catalog{
    position: absolute;
    width: 1110px;
    height: 520px;
    left: 405px;
    top: 150px;
    display: flex;
    flex-direction: column;
}
.catalog__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
.catalog__title{
    display: flex;
}
.catalog__writing{
    font-family: Oswald;
    font-size: 30px;
    color: #343434;
    letter-spacing: 5%;
    margin-left: 40px;
}
.catalog__choice{
    display: flex;
    margin: 0 auto;
    width: 211px;
    justify-content: space-between;
    font-size: 24px;
    font-family: Oswald;
    color: #343434;
    margin-bottom: 50px;
}
.catalog__leftchoice{
    color: #005BC1;
    border-bottom: #005BC1 solid 3px;
}
.catalog__offers{
    width: 1110px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.catalog__offer{
    width: 350px;
    height: 300px;
    position: relative;
}
.catalog__img{
    width: inherit;
    height: inherit;
}
.catalog__textwrapper{
    width: 265px;
    height: 86px;
    background-color: #005BC1;
    position: absolute;
    left: 85px;
    bottom: 15px;
    display: flex;
    align-items: center;
}
.catalog__text{
    margin-left: 21px;
    width: 190px;
    font-size: 18px;
    font-family: Oswald;
    color: white;
    letter-spacing: 5%;
}

