@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@font-face {
    font-family: Oswald;
    src: url(Oswald-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: OswaldBold;
    src: url(Oswald-Bold.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: OswaldLight;
    src: url(Oswald-Light.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: OswaldExtraLight;
    src: url(Oswald-ExtraLight.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: OswaldSemiBold;
    src: url(Oswald-SemiBold.ttf);
    font-style: normal;
    font-weight: normal;
}